/******************************
STRUCTURE
*******************************/
div.container{
margin: 0px auto;
width: 800px;
border: 1px solid #C0C0C0; 
background-color: #F1F3F5;
}
div.header{
background: #E6E6E6; 
border-bottom: 1px solid #C0C0C0; 
}
div.main{
margin: 10px 10px 0px;
}
#clear {
clear:both;
}

/******************************
MENU
*******************************/
div.leftmenu{
float: left;
min-width: 160px;
}
div.menu{
margin-bottom: 10px;
padding: 10px;
background-color: #E6E6E6; 
border: 1px solid #CCCACA; 
}
.menu ul{
padding: 0px 3px;
margin: 0px;
}
.menu li{
list-style-type:none;
text-transform: uppercase;
font-weight: bold; 
font-size: 13px;
padding-bottom: 1px;
}
.menu li  a{
font-weight: normal; 
color: #000000;
text-decoration: none;
}
.menu li  a:hover{
color: #3B3B3B;
}
div.rightmenu {
}

/******************************
CONTENT BOX
*******************************/
div.contentbox{
margin-left: 15px; 
margin-bottom: 10px;
background-color: #E6E6E6; 
border: 1px solid #CCCACA; 
}
div.center_left{
margin-left: 160px;
}
div.contentbox_title{
font-size:13px;
padding: 5px 10px;
text-transform: uppercase;
font-weight: bold;
margin-top: 0px;
border-bottom: 1px solid #CCCACA;
}
div.contentbox_body{
font-size: 11px;
padding: 10px 10px;
}

.header_big{
font-family: Verdana, Geneva, sans-serif;
font-size: 50px;
padding:20px;
}
.header_small{
font-family: Verdana, Geneva, sans-serif;
font-size: 20px;
}
div.footer{
padding: 5px 6px 6px;
text-align: center;
border-top: 1px solid #CCCACA;
background-color: #E6E6E6;
}

/******************************
STYLE
*******************************/
h3, h2, h1 {
margin:0;
}
body{
font-family: Verdana, Geneva, sans-serif;
font-size: 10px;
}
img{
border-style: none;
}
div.statusmessage{
text-transform: uppercase;
padding: 10px 5px;
margin: 5px 0px;
font-weight: bold;
border: 1px solid;
}
.failure{
color: #F00;
}
.success{
color:green;
}
.neutral{
}
img.footer {
margin-top: 5px;
}
.tabular {
text-align:center;
}
.tabular th {
text-transform: uppercase;
background-color:#5e5e5e;
color: white;
}
.tabular  tr:hover{
background-color: #E6E6E6 !important;
border: 1px solid #CCCACA;
}
.tabular_odd {
background-color:#bdbdbd;
}
.tabular_even{
background-color:#c9c9c9;
}
.tabular a{
display:block;
color:black;
}
#tabnav { 
margin:-1px; 
padding: 0; 
}
#tabnav  li {
display: inline-block;
border: 1px solid silver;
border-bottom:none;

}
#tabnav li a{
display:block;
text-transform:uppercase;
text-decoration:none;
color:black;
padding: 5px;
background:#c9c9c9;
}
#tabnav li a:hover{
background: #5e5e5e !important;
color:white;
}
#tabnav-current{
background: #E6E6E6 !important;
border-bottom: 1px solid #E6E6E6 ;	
}
#tabcontent {
border: 1px solid silver;
margin:-1px;
padding: 10px;
}
.itembox {
height:44px;
width: 44px;
}
.itembox ins{
height:36px;
width: 36px;
background-repeat:no-repeat;
display:block;
top:3px;
left:3px;
position:relative;
}
.itembox del{
position:relative;
top: -36px;
background-repeat:no-repeat;
display:block;
background-image:url(images/icon_border_medium.png);
height:44px;
width:44px;
}
#char_preview {
width:300px;
float:left;
border: 1px solid silver;
}
#char_panel {
border:1px solid silver; 
width: 395px; 
float:left;
}
#char_maininfo{
border:1px solid silver;
margin:1px;
padding: 5px;
word-wrap: break-word;
text-align:center;
}
#accounts_bottom{
text-align: right;
}
#item_mainhand{
height:44px; 
width:0px;
padding-left:121px;
}
#item_offhand{
height:0px;
width: 0px;
position:relative;
left:170px;
top:-44px
}
#item_ranged{
height:0px;
width: 0px;
position:relative;
left:219px;
top:-44px;
}
#char_stats{
max-width:198px;
margin:0;
float:right; 
padding:10px;
border: 1px solid silver;
}
.char_health{
text-align:center;
background: green;
color: white;
}
#char_mana{
border: 1px solid silver;
text-align:center;
background: blue;
color: white;
}

#char_rage{
border: 1px solid silver;
text-align:center;
background: red;
color: white;
}

#char_focus{
border: 1px solid silver;
text-align:center;
background: orange;
color: white;
}

#char_rune{
border: 1px solid silver;
text-align:center;
background: purple;
color: white;
}

table.stats_table {
width: 100%;

text-align:left !important;
}
.stats_table tr:hover{
background-color:white;
border:1px solid red !important;
padding:3px;
margin: 3px;
}
.stats_outerbar{
text-align:center;
min-width:380px;
border: 1px solid silver;
-moz-border-radius: 5px;
-webkit-border-radius: 5px
}
.stats_bar{
height:14px;
border:1px solid silver;
-moz-border-radius: 4px;
-webkit-border-radius: 4px
}
.bar_text{
font-weight:bold;
position:relative;
top:-14px;
height:0px;
padding:0px;
margin:0px;
}
.bar_good{
background-color: #6bed51;
}
.bar_neutral{
background-color: #ffee3d;
}
.bar_bad{
background-color: #f42929;
}
.bar_skill{
background-color: #bdbdbd;
}